.banner {
    height: 75vh;
  
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /*opacity: 0.5;*/
}
/*??*/
.banner .banner__content{  
      
      z-index: 1;
      position: relative;
      

}
.banner__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(assets/app/catalog.jpg);
    z-index: 0;
    opacity: 0.3;
   /* background-repeat: no-repeat;
    background-size: ;*/
}