.info {
/*??*/
width: 90%;
margin: 0 auto;
max-width: 768px;
}

.info .info__video  {
    position: relative;
    display: flex;
    justify-content: center;

}


.info .info__video img {
    position: relative;
    z-index: 2;
    width: 274px;
}

.info .info__video video {
position: absolute;
z-index: 1;
top: 30px;
width: 175px;
}
/*768px / 1024px* ajustar elementos a diferentes tamaños posibles*/
@media (768px <= width) {
    .info .info__video img {
        width: 628px;
    } 
}

@media (768px <= width) {
    .info .info__video video {
        top: 70px;
        width: 384px;
    } 
}
@media ( 1024px <= width){
 .info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: 998px;
 }
}